body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    width: 365px;
    height: 650px;
    background-color: black;
    padding-bottom: 17px;
    border-radius: 13px;
}

.display {
    display: flex;
    align-items: end;
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 100%;
    border-radius: 13px;
    padding: 20px;
    box-sizing: border-box;
}

.calculator input {
    background-color: transparent;
    border: 0;
    text-align: right;
    color: white;
    font-size: 70px;
    height: 100px;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row button {
    color: white;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    margin: 5px;
    transition: background-color 0.1s ease;
}

/* Botón especial para el 0 */
.row button.zero {
    width: 160px;
    border-radius: 40px;
}

/* Efecto al hacer clic */
button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Colores específicos para los botones */
.light-button {
    background-color: #a5a5a5;
    color: black;
}

.operator-button {
    background-color: #fe9505;
    color: white;
}

.number-button {
    background-color: #333333;
    color: white;
}
