*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 365px;
    height: 650px;
    background-color: black;
    padding-bottom: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.minidisplay{
    height: 80px;
    padding: 10px;
    background-color: #1c1c1c;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.minidisplay input,
.display input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    text-align: right;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
}

.display {
    display: flex;
    align-items: flex-end;
    height: 200px;
    background-color: #000;
    padding: 20px;
}

.display input {
    height: 100px;
    font-size: 3rem;
}

.wrapper {
    flex: 1;
    padding: 10px;
    background-color: #000;
    border-radius: 40px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row button {
    width: 80px;
    height: 80px; 
    border-radius: 50%;
    border: none;
    margin: 5px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botón especial para el 0 */
.row button.zero {
    width: 170px; 
    height: 80px;
    border-radius: 40px; 
}

/* Efecto al hacer clic */
button:active {
    background-color: rgba(214, 206, 206, 0.2);
}

/* Colores específicos para los botones */
.light-button {
    background-color: #d4d4d2;
    color: black;
}

.operator-button {
    background-color: #ff9500;
    color: white;
}

.equal {
    background-color: #ff9500;
    color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

/* Botones de números */
.number-button {
    background-color: #333333;
    color: white;
}